<div style="text-align: center;">
    <h1 style="color: red;">MAIN</h1> 
    <h1> Applied tests</h1>
    <h1 style="color: blue;">Without Keys</h1> 

</div>

<ul></ul><h1> .\main test series\apti </h1>

<ul><li><a href='.\main test series\apti\aptitude-subject-test.html'>aptitude-subject-test</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-1.html'>aptitude-topic-wise-test-1</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-2.html'>aptitude-topic-wise-test-2</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-3.html'>aptitude-topic-wise-test-3</a></li></ul><h1> .\main test series\c </h1>

<ul><li><a href='.\main test series\c\c-programming-subject-test.html'>c-programming-subject-test</a></li><li><a href='.\main test series\c\c-programming-topic-wise-test-1.html'>c-programming-topic-wise-test-1</a></li><li><a href='.\main test series\c\c-programming-topic-wise-test-2.html'>c-programming-topic-wise-test-2</a></li></ul><h1> .\main test series\cn </h1>

<ul><li><a href='.\main test series\cn\computer-networks-subject-test.html'>computer-networks-subject-test</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-1.html'>computer-networks-topic-wise-test-1</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-2.html'>computer-networks-topic-wise-test-2</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-3.html'>computer-networks-topic-wise-test-3</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-4.html'>computer-networks-topic-wise-test-4</a></li></ul><h1> .\main test series\co </h1>

<ul><li><a href='.\main test series\co\computer-organization-and-architecture-subject-test.html'>computer-organization-and-architecture-subject-test</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-1.html'>computer-organization-and-architecture-topic-wise-test-1</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-2.html'>computer-organization-and-architecture-topic-wise-test-2</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-3.html'>computer-organization-and-architecture-topic-wise-test-3</a></li></ul><h1> .\main test series\dbms </h1>

<ul><li><a href='.\main test series\dbms\database-management-systems-subject-test.html'>database-management-systems-subject-test</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-1.html'>database-management-systems-topic-wise-test-1</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-2.html'>database-management-systems-topic-wise-test-2</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-3.html'>database-management-systems-topic-wise-test-3</a></li></ul><h1> .\main test series\demo </h1>

<ul><li><a href='.\main test series\demo\demo-mock-test-all-india-mock-test-4-used-for-gate-2019.html'>demo-mock-test-all-india-mock-test-4-used-for-gate-2019</a></li><li><a href='.\main test series\demo\demo-topic-test-used-for-gate-cs-2020-scholarship-test.html'>demo-topic-test-used-for-gate-cs-2020-scholarship-test</a></li></ul><h1> .\main test series\dld </h1>

<ul><li><a href='.\main test series\dld\digital-logic-design-subject-test.html'>digital-logic-design-subject-test</a></li><li><a href='.\main test series\dld\digital-logic-design-topic-wise-test-1.html'>digital-logic-design-topic-wise-test-1</a></li><li><a href='.\main test series\dld\digital-logic-design-topic-wise-test-2.html'>digital-logic-design-topic-wise-test-2</a></li></ul><h1> .\main test series\dmgt </h1>

<ul><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-subject-test-1.html'>engineering-discrete-mathematics-subject-test-1</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-subject-test-2.html'>engineering-discrete-mathematics-subject-test-2</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-1.html'>engineering-discrete-mathematics-topic-wise-test-1</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-2.html'>engineering-discrete-mathematics-topic-wise-test-2</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-3.html'>engineering-discrete-mathematics-topic-wise-test-3</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-4.html'>engineering-discrete-mathematics-topic-wise-test-4</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-5.html'>engineering-discrete-mathematics-topic-wise-test-5</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-6.html'>engineering-discrete-mathematics-topic-wise-test-6</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-7.html'>engineering-discrete-mathematics-topic-wise-test-7</a></li></ul><h1> .\main test series\ds </h1>

<ul><li><a href='.\main test series\ds\data-structures-algorithms-subject-test.html'>data-structures-algorithms-subject-test</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-1.html'>data-structures-algorithms-topic-wise-test-1</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-2.html'>data-structures-algorithms-topic-wise-test-2</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-3.html'>data-structures-algorithms-topic-wise-test-3</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-4.html'>data-structures-algorithms-topic-wise-test-4</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-5.html'>data-structures-algorithms-topic-wise-test-5</a></li></ul><h1> .\main test series\grand tests </h1>

<ul><li><a href='.\main test series\grand tests\grand-test-1.html'>grand-test-1</a></li><li><a href='.\main test series\grand tests\grand-test-2.html'>grand-test-2</a></li><li><a href='.\main test series\grand tests\grand-test-3.html'>grand-test-3</a></li><li><a href='.\main test series\grand tests\grand-test-4.html'>grand-test-4</a></li><li><a href='.\main test series\grand tests\grand-test-5.html'>grand-test-5</a></li><li><a href='.\main test series\grand tests\grand-test-6.html'>grand-test-6</a></li></ul><h1> .\main test series\multi subject tests </h1>

<ul><li><a href='.\main test series\multi subject tests\multiple-subject-test-1.html'>multiple-subject-test-1</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-2.html'>multiple-subject-test-2</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-3.html'>multiple-subject-test-3</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-4.html'>multiple-subject-test-4</a></li></ul><h1> .\main test series\os </h1>

<ul><li><a href='.\main test series\os\operating-system-subject-test.html'>operating-system-subject-test</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-1.html'>operating-system-topic-wise-test-1</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-2.html'>operating-system-topic-wise-test-2</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-3.html'>operating-system-topic-wise-test-3</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-4.html'>operating-system-topic-wise-test-4</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-5.html'>operating-system-topic-wise-test-5</a></li></ul><h1> .\main test series\toc </h1>

<ul><li><a href='.\main test series\toc\theory-of-computation-compiler-design-subject-test.html'>theory-of-computation-compiler-design-subject-test</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-1.html'>theory-of-computation-compiler-design-topic-wise-test-1</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-2.html'>theory-of-computation-compiler-design-topic-wise-test-2</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-3.html'>theory-of-computation-compiler-design-topic-wise-test-3</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-4.html'>theory-of-computation-compiler-design-topic-wise-test-4</a></li></ul>