<div style="text-align: center;">
    <h1 style="color: red;">Practice</h1> 

    <h1> Applied practice tests </h1>
    <h1 style="color: blue;">Without Keys</h1> 

</div>


<ul></ul>
<h1> .\practice tests\all practice tests </h1>

<ul>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-aptitude-number-system-lcm-and-hcf-ratio-and-proportion.html'>practice-test-1-aptitude-number-system-lcm-and-hcf-ratio-and-proportion</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-c-programming.html'>practice-test-1-c-programming</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-combinatorics.html'>practice-test-1-combinatorics</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-computer-organization.html'>practice-test-1-computer-organization</a>
    </li>
    <li><a href='.\practice tests\all practice tests\practice-test-1-graph-theory.html'>practice-test-1-graph-theory</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-insertion-sort-and-asymptotic-notations.html'>practice-test-1-insertion-sort-and-asymptotic-notations</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-introduction-to-matrices-types-of-matrices-determinants.html'>practice-test-1-introduction-to-matrices-types-of-matrices-determinants</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-mathematical-logic.html'>practice-test-1-mathematical-logic</a>
    </li>
    <li><a href='.\practice tests\all practice tests\practice-test-1-probability.html'>practice-test-1-probability</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-1-sets-relations-functions-partial-orders-and-groups.html'>practice-test-1-sets-relations-functions-partial-orders-and-groups</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-10-dynamic-programming.html'>practice-test-10-dynamic-programming</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-11-greedy-algorithms.html'>practice-test-11-greedy-algorithms</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-2-aptitude-partnership-percentages-profit-and-loss-simple-interest-and-compound-interest-allegation.html'>practice-test-2-aptitude-partnership-percentages-profit-and-loss-simple-interest-and-compound-interest-allegation</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-2-computer-organization.html'>practice-test-2-computer-organization</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-2-linear-algebra-rank-system-of-linear-equations-eigen-values-and-eigen-vectors.html'>practice-test-2-linear-algebra-rank-system-of-linear-equations-eigen-values-and-eigen-vectors</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-2-ordering-of-growth-functions-and-merge-sort.html'>practice-test-2-ordering-of-growth-functions-and-merge-sort</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-3-aptitude-time-and-distance-time-and-work-pipes-and-cistern-number-series.html'>practice-test-3-aptitude-time-and-distance-time-and-work-pipes-and-cistern-number-series</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-3-solving-recurrence-relations-bubble-sort-quick-sort-linear-time-sorting-counting-sort-and-radix-sort.html'>practice-test-3-solving-recurrence-relations-bubble-sort-quick-sort-linear-time-sorting-counting-sort-and-radix-sort</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-4-introduction-to-algorithms-linear-time-sorting-algorithms.html'>practice-test-4-introduction-to-algorithms-linear-time-sorting-algorithms</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-5-single-linked-list-double-linked-list-circular-linked-list-stack-expression-evaluation-prefix-infix-postfix.html'>practice-test-5-single-linked-list-double-linked-list-circular-linked-list-stack-expression-evaluation-prefix-infix-postfix</a>
    </li>
    <li><a href='.\practice tests\all practice tests\practice-test-6-queue-arrays.html'>practice-test-6-queue-arrays</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-7-searching-binary-search-tree-trees-heap-sort.html'>practice-test-7-searching-binary-search-tree-trees-heap-sort</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-8-balanced-trees-avl-trees-hashing.html'>practice-test-8-balanced-trees-avl-trees-hashing</a>
    </li>
    <li><a
            href='.\practice tests\all practice tests\practice-test-9-graph-search-dfs-bfs-spanning-trees-prim-s-kruskal-shortest-path-dijkstra-bellman-ford-floyd-warshall-topological-sorting.html'>practice-test-9-graph-search-dfs-bfs-spanning-trees-prim-s-kruskal-shortest-path-dijkstra-bellman-ford-floyd-warshall-topological-sorting</a>
    </li>
</ul>
<h1> .\practice tests\subject wise </h1>

<ul>
    <li><a href='.\practice tests\subject wise\gate-cs-2020-memory-based-paper.html'>gate-cs-2020-memory-based-paper</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\algo ds </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\algo ds\algorithms-and-data-structure-subject-test-1.html'>algorithms-and-data-structure-subject-test-1</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\algo ds\algorithms-and-data-structure-subject-test-2.html'>algorithms-and-data-structure-subject-test-2</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\c </h1>

<ul>
    <li><a href='.\practice tests\subject wise\c\c-programming-subject-test-2.html'>c-programming-subject-test-2</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\cd </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\cd\compiler-design-subject-test-1.html'>compiler-design-subject-test-1</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\cn </h1>

<ul>
    <li><a href='.\practice tests\subject wise\cn\cn-subject-test.html'>cn-subject-test</a></li>
    <li><a
            href='.\practice tests\subject wise\cn\computer-network-practice-test-1.html'>computer-network-practice-test-1</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\cn\computer-networks-practice-test-2.html'>computer-networks-practice-test-2</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\co </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\co\computer-organization-practice-test-3.html'>computer-organization-practice-test-3</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\dbms </h1>

<ul>
    <li><a href='.\practice tests\subject wise\dbms\dbms-practice-test-1.html'>dbms-practice-test-1</a></li>
    <li><a href='.\practice tests\subject wise\dbms\dbms-practice-test-2.html'>dbms-practice-test-2</a></li>
    <li><a href='.\practice tests\subject wise\dbms\dbms-practice-test-3.html'>dbms-practice-test-3</a></li>
    <li><a href='.\practice tests\subject wise\dbms\subject-test-1-dbms.html'>subject-test-1-dbms</a></li>
</ul>
<h1> .\practice tests\subject wise\demo </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\demo\demo-topic-test-used-for-gate-cs-2020-scholarship-test.html'>demo-topic-test-used-for-gate-cs-2020-scholarship-test</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\dld </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\dld\digital-logic-design-practice-test-1.html'>digital-logic-design-practice-test-1</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\dld\digital-logic-design-practice-test-2.html'>digital-logic-design-practice-test-2</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\dld\digital-logic-design-subject-test-1.html'>digital-logic-design-subject-test-1</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\iiit </h1>

<ul>
    <li><a href='.\practice tests\subject wise\iiit\iiit-pgee-section-i.html'>iiit-pgee-section-i</a></li>
    <li><a href='.\practice tests\subject wise\iiit\iiit-pgee-section-ii.html'>iiit-pgee-section-ii</a></li>
</ul>
<h1> .\practice tests\subject wise\maths </h1>

<ul>
    <li><a href='.\practice tests\subject wise\maths\linear-algebra-subject-test.html'>linear-algebra-subject-test</a>
    </li>
    <li><a href='.\practice tests\subject wise\maths\mathematics-subject-test-1.html'>mathematics-subject-test-1</a>
    </li>
    <li><a href='.\practice tests\subject wise\maths\practice-test-calculus.html'>practice-test-calculus</a></li>
    <li><a href='.\practice tests\subject wise\maths\subject-test-1-probability.html'>subject-test-1-probability</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\os </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\os\operating-system-practice-test-2.html'>operating-system-practice-test-2</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\os\operating-system-practice-test-3.html'>operating-system-practice-test-3</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\os\operating-system-practice-test-4.html'>operating-system-practice-test-4</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\os\operating-systems-practice-test-1.html'>operating-systems-practice-test-1</a>
    </li>
    <li><a href='.\practice tests\subject wise\os\subject-test-operating-system.html'>subject-test-operating-system</a>
    </li>
</ul>
<h1> .\practice tests\subject wise\toc </h1>

<ul>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-practice-test-1.html'>theory-of-computation-practice-test-1</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-practice-test-2.html'>theory-of-computation-practice-test-2</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-practice-test-3.html'>theory-of-computation-practice-test-3</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-practice-test-4-cfls-pda-simplification-of-cfg-normal-forms-cnf-gnf.html'>theory-of-computation-practice-test-4-cfls-pda-simplification-of-cfg-normal-forms-cnf-gnf</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-practice-test-5.html'>theory-of-computation-practice-test-5</a>
    </li>
    <li><a
            href='.\practice tests\subject wise\toc\theory-of-computation-subject-test-1.html'>theory-of-computation-subject-test-1</a>
    </li>
</ul>