
<div style="text-align: center;">
    <h1 style="color: red;">MAIN</h1> 

<h1> Applied tests  </h1>
<h1 style="color: green;">Keys</h1> 

</div>
<ul></ul><h1> .\main test series\apti </h1>

<ul><li><a href='.\main test series\apti\aptitude-subject-test-key.html'>aptitude-subject-test-key</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-1-key.html'>aptitude-topic-wise-test-1-key</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-2-key.html'>aptitude-topic-wise-test-2-key</a></li><li><a href='.\main test series\apti\aptitude-topic-wise-test-3-key.html'>aptitude-topic-wise-test-3-key</a></li></ul><h1> .\main test series\c </h1>

<ul><li><a href='.\main test series\c\c-programming-subject-test-key.html'>c-programming-subject-test-key</a></li><li><a href='.\main test series\c\c-programming-topic-wise-test-1-key.html'>c-programming-topic-wise-test-1-key</a></li><li><a href='.\main test series\c\c-programming-topic-wise-test-2-key.html'>c-programming-topic-wise-test-2-key</a></li></ul><h1> .\main test series\cn </h1>

<ul><li><a href='.\main test series\cn\computer-networks-subject-test-key.html'>computer-networks-subject-test-key</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-1-key.html'>computer-networks-topic-wise-test-1-key</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-2-key.html'>computer-networks-topic-wise-test-2-key</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-3-key.html'>computer-networks-topic-wise-test-3-key</a></li><li><a href='.\main test series\cn\computer-networks-topic-wise-test-4-key.html'>computer-networks-topic-wise-test-4-key</a></li></ul><h1> .\main test series\co </h1>

<ul><li><a href='.\main test series\co\computer-organization-and-architecture-subject-test-key.html'>computer-organization-and-architecture-subject-test-key</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-1-key.html'>computer-organization-and-architecture-topic-wise-test-1-key</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-2-key.html'>computer-organization-and-architecture-topic-wise-test-2-key</a></li><li><a href='.\main test series\co\computer-organization-and-architecture-topic-wise-test-3-key.html'>computer-organization-and-architecture-topic-wise-test-3-key</a></li></ul><h1> .\main test series\dbms </h1>

<ul><li><a href='.\main test series\dbms\database-management-systems-subject-test-key.html'>database-management-systems-subject-test-key</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-1-key.html'>database-management-systems-topic-wise-test-1-key</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-2-key.html'>database-management-systems-topic-wise-test-2-key</a></li><li><a href='.\main test series\dbms\database-management-systems-topic-wise-test-3-key.html'>database-management-systems-topic-wise-test-3-key</a></li></ul><h1> .\main test series\demo </h1>

<ul><li><a href='.\main test series\demo\demo-mock-test-all-india-mock-test-4-used-for-gate-2019-key.html'>demo-mock-test-all-india-mock-test-4-used-for-gate-2019-key</a></li><li><a href='.\main test series\demo\demo-topic-test-used-for-gate-cs-2020-scholarship-test-key.html'>demo-topic-test-used-for-gate-cs-2020-scholarship-test-key</a></li></ul><h1> .\main test series\dld </h1>

<ul><li><a href='.\main test series\dld\digital-logic-design-subject-test-key.html'>digital-logic-design-subject-test-key</a></li><li><a href='.\main test series\dld\digital-logic-design-topic-wise-test-1-key.html'>digital-logic-design-topic-wise-test-1-key</a></li><li><a href='.\main test series\dld\digital-logic-design-topic-wise-test-2-key.html'>digital-logic-design-topic-wise-test-2-key</a></li></ul><h1> .\main test series\dmgt </h1>

<ul><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-subject-test-1-key.html'>engineering-discrete-mathematics-subject-test-1-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-subject-test-2-key.html'>engineering-discrete-mathematics-subject-test-2-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-1-key.html'>engineering-discrete-mathematics-topic-wise-test-1-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-2-key.html'>engineering-discrete-mathematics-topic-wise-test-2-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-3-key.html'>engineering-discrete-mathematics-topic-wise-test-3-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-4-key.html'>engineering-discrete-mathematics-topic-wise-test-4-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-5-key.html'>engineering-discrete-mathematics-topic-wise-test-5-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-6-key.html'>engineering-discrete-mathematics-topic-wise-test-6-key</a></li><li><a href='.\main test series\dmgt\engineering-discrete-mathematics-topic-wise-test-7-key.html'>engineering-discrete-mathematics-topic-wise-test-7-key</a></li></ul><h1> .\main test series\ds </h1>

<ul><li><a href='.\main test series\ds\data-structures-algorithms-subject-test-key.html'>data-structures-algorithms-subject-test-key</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-1-key.html'>data-structures-algorithms-topic-wise-test-1-key</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-2-key.html'>data-structures-algorithms-topic-wise-test-2-key</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-3-key.html'>data-structures-algorithms-topic-wise-test-3-key</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-4-key.html'>data-structures-algorithms-topic-wise-test-4-key</a></li><li><a href='.\main test series\ds\data-structures-algorithms-topic-wise-test-5-key.html'>data-structures-algorithms-topic-wise-test-5-key</a></li></ul><h1> .\main test series\grand tests </h1>

<ul><li><a href='.\main test series\grand tests\grand-test-1-key.html'>grand-test-1-key</a></li><li><a href='.\main test series\grand tests\grand-test-2-key.html'>grand-test-2-key</a></li><li><a href='.\main test series\grand tests\grand-test-3-key.html'>grand-test-3-key</a></li><li><a href='.\main test series\grand tests\grand-test-4-key.html'>grand-test-4-key</a></li><li><a href='.\main test series\grand tests\grand-test-5-key.html'>grand-test-5-key</a></li><li><a href='.\main test series\grand tests\grand-test-6-key.html'>grand-test-6-key</a></li></ul><h1> .\main test series\multi subject tests </h1>

<ul><li><a href='.\main test series\multi subject tests\multiple-subject-test-1-key.html'>multiple-subject-test-1-key</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-2-key.html'>multiple-subject-test-2-key</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-3-key.html'>multiple-subject-test-3-key</a></li><li><a href='.\main test series\multi subject tests\multiple-subject-test-4-key.html'>multiple-subject-test-4-key</a></li></ul><h1> .\main test series\os </h1>

<ul><li><a href='.\main test series\os\operating-system-subject-test-key.html'>operating-system-subject-test-key</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-1-key.html'>operating-system-topic-wise-test-1-key</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-2-key.html'>operating-system-topic-wise-test-2-key</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-3-key.html'>operating-system-topic-wise-test-3-key</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-4-key.html'>operating-system-topic-wise-test-4-key</a></li><li><a href='.\main test series\os\operating-system-topic-wise-test-5-key.html'>operating-system-topic-wise-test-5-key</a></li></ul><h1> .\main test series\toc </h1>

<ul><li><a href='.\main test series\toc\theory-of-computation-compiler-design-subject-test-key.html'>theory-of-computation-compiler-design-subject-test-key</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-1-key.html'>theory-of-computation-compiler-design-topic-wise-test-1-key</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-2-key.html'>theory-of-computation-compiler-design-topic-wise-test-2-key</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-3-key.html'>theory-of-computation-compiler-design-topic-wise-test-3-key</a></li><li><a href='.\main test series\toc\theory-of-computation-compiler-design-topic-wise-test-4-key.html'>theory-of-computation-compiler-design-topic-wise-test-4-key</a></li></ul>